[2021-10-06 08:00] Kaliahh opened #1 "Hvilke klasser af problem skal vores system kunne håndtere?"
Hvordan er problemet defineret? AI træning, simulering, BIG DATA, **osv**.

Hvad følger med for at kunne løse problemet (data, kode)?

Hvordan ser outputtet ud?

Hvordan udregnes resultatet? Er det en executable, er det kode der skal kompileres?

Hvor meget er udregningen afhængig af eksterne faktorer, såsom andre processer, mellemregninger eller shared memory?

Hvilke klasser bør vi fokusere på?

[2021-10-06 08:14] Kaliahh opened #2 "Hvem er vores målgruppe?"
For hvem er det et problem ikke at have adgang til ekstra regnekraft/processorkraft?

Hvordan kommer dette problem til udtryk?

Hvad er deres krav til adgang til denne ekstra regnekraft? Hvad skal de bruge det til (hvilke klasser af problemer)?

Hvordan kan vi underbygge vores valg af målgruppe? Data, interviews, artikler?

[2021-10-06 08:18] Kaliahh commented on #1
Forslag til mulige klasser:

Simulering - Christian(Done)

Rendering - Jakob(Done)

Clustering (Data analyse)  - Mikael(Done)

AI træning - Jakob(Done)

Modellering

Matematiske udregninger (medicin, kemi) - Mikael(Working)

Hosting af distribueret web-service - Jakob(done)

[2021-10-06 08:19] Kaliahh opened #3 "Hvilke alternativer eksisterer allerede?"
Hvilken arkitektur bruger de?

Hvilke klasser af problemer understøtter de? Hvad specialiserer de sig i?

Hvilke begrænsninger har de?

[2021-10-06 08:32] Kaliahh commented on #3
Forslag:

Golem (Done)

Vast.AI (Done)

CLAAUDIA (Done)

Supercomputere generelt (Done)

Entropia: [Entropia](https://cseweb.ucsd.edu/~calder/papers/JPDC-Entropia.pdf) (Done)

~~Universal Devices, som blev til: Univa UD, som så hvidst er blevet Altair [UnivaUD](https://www.altair.com/hpc-cloud-applications/)~~ (Alexander) <- Der var ikke noget information at finde, med mindre man ville i kontakt m

[2021-10-06 09:02] Kaliahh opened #4 "Design af arkitektur"
Komplet udkast til et design af vores arkitektur, bestående af:

- UML diagrammer (el. lign.)
- API specificationer
- Skal vi stadig bruge P2P, eller er der blevet fundet en bedre løsning / Er der ikke længere brug for P2P?

Veldokumenteret og argumenteret for.

**Sub tasks**

- [x] #23
- [x] #24

[2021-10-06 11:14] dkalaxdk commented on #3
# General Terms

- Grid computing: Localized syncronous computing, usually done within an orginization where the computers are ususally active at the same time. Here the devices on the network are also usually trusted, therefore the results may not need to be redundantly distributed to other devices.

- Volunteer computing/distributed computing, here the devices are not neccesarliy trusted, as the

[2021-10-06 11:15] naitoarekkus commented on #3
Jeg prøver med CLAAUDIA

[2021-10-06 11:23] dkalaxdk commented on #1
Video transcoding

Image and video rendering

[2021-10-06 11:49] Kaliahh commented on #2
## Studerende
_For hvem er det et problem ikke at have adgang til ekstra regnekraft/processorkraft?_

- Medicin [CITATION]
- Software/datalogi [CITATION]
- Kemi [CITATION]
- Matematik [CITATION]

_Hvordan kommer dette problem til udtryk?_

- Kan ikke nå at færdiggøre projekt inden deadline [CITATION]

_Hvad er deres krav til adgang til denne ekstra regnekraft? Hvad skal de bruge det til (hvilke kl

[2021-10-06 12:44] AxialDark commented on #3
## Supercomputers in general

**Links**:
- Supercomputer architectures
    - [CLEX](https://arxiv.org/abs/1607.00298)
    - [Blue Gene/L torus](https://ieeexplore.ieee.org/abstract/document/5388784)
    - [DAS](https://dl.acm.org/doi/abs/10.1145/506106.506115)
    - [Nectar](https://ieeexplore.ieee.org/abstract/document/532117)
- [Myrinet](https://ieeexplore.ieee.org/abstract/document/342015)
---

[2021-10-06 12:56] soenderby commented on #1
## Distributed Rendering

According to wikipedia:
Rendering is an embarrassingly parallel workload in multiple domains (e.g., pixels, objects, frames) and thus has been the subject of much research.

Distributed rendering:
https://www.awsthinkbox.com/blog/distributed-rendering-a-guide
Distributed rendering is a rendering technique where multiple machines across a network render a single
 frame of

[2021-10-07 06:48] Kaliahh commented on #2
## Researchers

For forskere er det faktisk ikke et problem at have adgang til regnekraft, men det kan til gengæld være svært "forme" det de skal have udregnet sådan så en supercomputer / distribueret netværk kan håndtere opgaven på en effektiv måde. [Kilde](https://dl.acm.org/doi/pdf/10.1145/3468264.3473104)

_For hvem er det et problem ikke at have adgang til ekstra regnekraft/processorkraft?_

[2021-10-07 07:30] soenderby commented on #1
# Distributed AI Training

**In summary**: There is potential, distributing training of Deep Neural Networks is an active research area.
A provider would need to install a program that can train a given DNN, but this seems feasible.
In some of the approaches, there seems to be a need for a lot of communication between the nodes/providers.

## [Freeing hybrid distributed AI training configuration](

[2021-10-07 07:46] Kaliahh commented on #2
## Startups

Flere og flere virksomheder bruger AI [Kilde](https://info.microsoft.com/rs/157-GQE-382/images/DENMARK_MGC0003160.pdf)

De træner det dog ikke selv. I stedet køber de sig adgang til færdige AI løsninger hos f.eks. Microsoft og Amazon eller hos [dem her](https://2021.ai/top-5-artificial-intelligence-projects-denmark/)

Det er mest virksomheder i finanssektoren der bruger AI. [Kilde](ht

[2021-10-07 08:04] Kaliahh commented on #2
## Private personer

Hvad med personer som bare gerne vil render noget? Det kan tage lang tid på en enkelt bærbar, men hvad nu hvis man har to? Eller har mulighed for at købe en brugt bærbar de kan sætte op som provider?

YouTubere? De skal render videoer

Digitale kunstnere? De skal render billeder, og muligvis også videoer

Amatør filmproducenter? De skal måske have renderet CGI? Eller bare mege

[2021-10-07 08:19] Kaliahh commented on #2
## Amatør filmproducenter + YouTube "startups"

_For hvem er det et problem ikke at have adgang til ekstra regnekraft/processorkraft?_

- Personer der lige er startet med at lave YouTube videoer, og gerne vil udvide deres produktion
- Personer der vil lave kortfilm eller andre filmprojekter

_Hvordan kommer dette problem til udtryk?_

_Hvad er deres krav til adgang til denne ekstra regnekraft?_

-

[2021-10-07 08:25] MikaelVM commented on #1
# Clustering/Cluster analysis (Data mining, Data analysis)
Clustering algorithms is the one of the main methods of data mining large data sets for further analysis. This is usually done on a centralized server where all the data is necessary for the data mining have been collected in advance.
Distributed networks become relevant for data mining when the data is too large for a centralized server t

[2021-10-07 08:51] MikaelVM commented on #1
# Medicine
The video game Borderlands 3 contains a minigame that is part of a large distributed network help analyse DNA sequences for microorganisms. The minigame is used to automate a tedious task in microbiome research, sorting the microbes into similar groupings and classifying them. Human involvement was deemed necessary as humans are good at recognizing “close enough” pairings of the microbe

[2021-10-07 09:03] soenderby commented on #1
# Distributed web hosting

Content delivery/distribution network (CDN) is a web service that is inherently distributed. There is potential, but I fear that it has little to no relevance to non-commercial users.

[CDN: Content Distribution Network](https://arxiv.org/pdf/cs/0411069.pdf) 2004

[A survey of peer-to-peer content distribution technologies](https://dl.acm.org/doi/abs/10.1145/1041680.1041

[2021-10-07 09:11] AxialDark commented on #3
## Entropia
Link to paper [here](https://cseweb.ucsd.edu/~calder/papers/JPDC-Entropia.pdf)

### Architecture
- The applications which are to be run on the system are "wrapped" in their virtual machine technology
- Uses an layered architecture with 3 layers
    - Job Management Layer: The top layer that the end user usually interacts with, it provides management facilities for handling large number

[2021-10-08 06:50] Kaliahh opened #5 "Related Work: Alternative solutions"
**What should be written?**
What exactly should this section communicate to the reader?

Description of the alternative solutions that already exist, what their limitations are, and how they are set up (architecture)

**Sub tasks**
- [x] #10
- [x] #12
- [x] #13
- [x] #15
- [x] #16
- [x] #21

[2021-10-08 07:42] Kaliahh commented on #2
## Freelance videoproducenter (Animation, reklame, osv)

For hvem er det et problem ikke at have adgang til ekstra regnekraft/processorkraft?

Hvordan kommer dette problem til udtryk?

Hvad er deres krav til adgang til denne ekstra regnekraft? Hvad skal de bruge det til (hvilke klasser af problemer)?

Hvordan kan vi underbygge vores valg af målgruppe? Data, interviews, artikler?

- Anekdoter?

[2021-10-08 08:24] AxialDark commented on #3
## Distributed Networks in generel

**Links**:
- [Distributed SOA](https://ieeexplore.ieee.org/abstract/document/5076939)

Exploration of **Distributed SOA:**

SOA = Service Oriented Archtecture

### Architecture
- Generally, the architecture is that each service is standalone and provides a functionality. Each services then have an API, which describes how to communicate with the service. The ide

[2021-10-08 08:31] Kaliahh opened #6 "Problems Suitable for Distribution"
**What should be written?**
What exactly should this section communicate to the reader?

The research that has been done on which problems are suitable for distribution.

Should end in a summary of the classes of problems that we have identified.

**Sub tasks**
- [x] #11
- [x] #14
- [x] #17
- [x] #20

[2021-10-08 11:02] Kaliahh opened #7 "This is a test issue"
**What should be written?**
What exactly should this section communicate to the reader?

Relates to #6

EDIT: This is an edit

EDIT 2: This is another edit

EidT 3

[2021-10-08 11:24] Kaliahh commented on #7
This is an update

[2021-10-11 07:16] Kaliahh commented on #2
## People who could use a supercomputer but don't have access to one

- Researchers and students in Africa. [Citation](https://www.top500.org/statistics/overtime/)
- Industries in Africa

For some, the only access to internet is through internet cafes ([Eritrea](https://www.ictworks.org/understanding-eritreas-exceptionally-limited-internet-access/#.YWPvRurP2V4))
- Hourly fee, not per MB

### Acces

[2021-10-12 07:11] AxialDark commented on #5
Sections ready for review:
| Sections | Overleaf Files |
| --------- | ----- |
| 1.2.3  Entropia | {sections/introduction/Relatedwork/entropia} |
| 1.2.4  Supercomputers | {sections/introduction/Relatedwork/supercomputers_general} |
| 1.2.5  CLAAUDIA | {sections/introduction/Relatedwork/clauudia} |
| 1.2.6  Distributed Service Oriented Architecture | {sections/introduction/Relatedwork/distributed_

[2021-10-12 08:15] AxialDark commented on #5
Har reviewet Alexanders afsnit omkring Golem og BOINC

[2021-10-13 07:52] #7 closed, assigned to dkalaxdk

[2021-10-13 07:59] AxialDark opened #8 "Investigate current architecture to find potential bottlenecks in the scaling"
**What should be written?**
What exactly should this section communicate to the reader?

What is our current architecture?
Why have we designed the architecture this way?
What are the potential bottlenecks when the service is scaled up?
How can we mitigate the bottlenecks?

**When is research done?**
When documentation is found for how to mitigate the most servere bottlenecks in the architecture?

[2021-10-13 08:05] AxialDark opened #9 "Design and specify the endpoints for the communication between the clients and server"
**What should be written?**
What exactly should this section communicate to the reader?

The design should be documented with arguments as to why it looks like it does.
The APIs should be specified using the OpenAPI Specification Standard: [OpenAPI Specification](https://swagger.io/specification/)

[2021-10-13 08:15] dkalaxdk opened #10 "Golem and BOINC"
**What should be written?**
Description of Golem and BOINC, with their advantages and disadvantages.

Sub issue of #5

[2021-10-13 08:17] soenderby opened #11 "Summary of distributed rendering"
**What should be written?**
What exactly should this section communicate to the reader?

This section should contain a short summary of rendering and whether or not it is suitable for distribution.

This is a part of #6

[2021-10-13 08:18] AxialDark opened #12 "Alternative Solutions: Entropia"
**What should be written?**
 What exactly should this section communicate to the reader?

Related to #5

[2021-10-13 08:18] AxialDark commented on #12
Ready for review: sections/introduction/Relatedwork/entropia

[2021-10-13 08:19] AxialDark opened #13 "Alternative solutions: Supercomputers"
**What should be written?**
What exactly should this section communicate to the reader?

Related to #5

[2021-10-13 08:19] AxialDark commented on #13
Ready for review: sections/introduction/Relatedwork/supercomputers_general

[2021-10-13 08:20] soenderby opened #14 "Summary of Distributed training of DNN's"
**What should be written?**
What exactly should this section communicate to the reader?

Describe if/how training of Deep Neural Networks is a problem that can be solved using distributed systems

Related to #6

[2021-10-13 08:21] AxialDark opened #15 "Alternative solutions: CLAAUDIA"
**What should be written?**
What exactly should this section communicate to the reader?

Related to #5

[2021-10-13 08:21] AxialDark commented on #15
Ready for review: sections/introduction/Relatedwork/clauudia

[2021-10-13 08:22] AxialDark opened #16 "Alternative solutions: Distributed Service Oriented Architecture"
**What should be written?**
What exactly should this section communicate to the reader?

Related to #5

[2021-10-13 08:22] AxialDark commented on #16
Ready for review: sections/introduction/Relatedwork/distributed_service_oriented_architecture

[2021-10-13 08:23] AxialDark commented on #10
Reviewed Golem and BOINC sections

[2021-10-13 08:23] dkalaxdk opened #17 "Distributed Problems: Data analysis"
**What should be written?**
Sub issue of #6

[2021-10-13 08:29] zaztz commented on #1
### Agents Simulations

For the computations of agent-based simulations, each agent will contain local state variables along with a set of actions that the agent can perform. The simulation will be split into phases. In the first phase all agents will take a decision after that, they will all act on their decision. In the next phase, each agent will update its local state, based on the action take

[2021-10-13 08:30] AxialDark commented on #14
Finished reviewing, approved with comments

[2021-10-13 08:36] zaztz commented on #1
### Co-Simulation

Co-simulation is a technique, which makes use of sub-systems to simulate the behavior of a real-world component, such as a braking system or the motor of a car. The type of these sub-systems can range from embedded systems to automotive industry systems.

During simulation all the included sub-systems run concurrently and communicate with each other in order to simulate a unifie

[2021-10-13 08:37] dkalaxdk commented on #17
Reviewed.

[2021-10-13 08:43] AxialDark commented on #11
Finished reviewing, approved with comments

[2021-10-13 08:47] dkalaxdk commented on #11
Reviewed.

[2021-10-13 08:47] dkalaxdk commented on #14
Reviewed.

[2021-10-13 08:54] soenderby commented on #10
Sections reviewed, with comments and minor edits

[2021-10-13 08:54] dkalaxdk commented on #12
Reviewed.

[2021-10-13 08:54] AxialDark commented on #17
Finished reviewing

[2021-10-13 08:54] dkalaxdk commented on #13
Reviewed.

[2021-10-13 08:54] dkalaxdk commented on #15
Reviewed.

[2021-10-13 08:55] dkalaxdk commented on #16
Reviewed.

[2021-10-13 09:07] zaztz commented on #12
Reviewed

[2021-10-13 09:33] soenderby commented on #16
Reviewed. I have no additional comments to those left by Alexander

[2021-10-13 10:36] zaztz commented on #13
Reviewed

[2021-10-13 10:41] soenderby commented on #15
Reviewed

[2021-10-13 10:45] Kaliahh opened #18 "Introduction to initial problem (and initial problem)"
**What should be written?**

The section should communicate the reasons behind choosing the problem statement.

The section should also present a problem statement.

[Link for reviewers](https://www.overleaf.com/project/6141b6c00d353feabf2b4259)

[2021-10-13 10:52] zaztz opened #19 "Distributed file saving"
**What should be written?**
We need research the following topics

 File storage
  -Distribudted Database
  -Distributed File system
  -Other options

What exactly should this section communicate to the reader?
 Which of the above options, we will use and why

[2021-10-13 11:03] soenderby commented on #18
Reviewed, with comments.

[2021-10-15 11:07] soenderby commented on #17
Second review complete. Content and structure are good, made minor changes and left comments where I believer further clarification is needed.

[2021-10-15 11:31] MikaelVM opened #20 "Distributed Problems: Scientific Research"
**What should be written?**
Should give the reader an understanding of how distributed systems are used in various fields of science.

[Link to section for review](https://www.overleaf.com/project/6141b6c00d353feabf2b4259)

[2021-10-15 11:32] MikaelVM commented on #20
Section written, not yet reviewed

[2021-10-15 12:21] #3 closed, assigned to AxialDark, dkalaxdk

[2021-10-15 12:22] #1 closed

[2021-10-15 12:22] #11 closed, assigned to AxialDark, dkalaxdk, soenderby

[2021-10-15 12:31] Kaliahh opened #21 "Alternative Solutions: SheepIt"
**What should be written?**
A description of SheepIt, what they do and how they do it.

Related to #5

[2021-10-15 12:47] soenderby commented on #10
Review number two completed. Minor corrections, and a single comment.

[2021-10-17 20:02] #2 closed

[2021-10-18 08:35] Kaliahh commented on #20
Related to #6

[2021-10-19 09:47] Kaliahh opened #22 "This is a sub task?"

[2021-10-19 09:54] #22 closed, assigned to nobody

[2021-10-20 08:51] Kaliahh opened #23 "Design arkitektur (diagrammer)"
Der skal laves flere diagrammer:

- [x] Undersøg om der er en måde at lave arkitekturer på som vi kan bruge. (Vi kan bruge C4-modellen)
- [x] Find eller lav templates. (I draw.io kan man inkludere C4-model elementer)
- [x] Højt abstraktion-niveau, kig helt overordnet på det. Vi skal kunne vise hvordan vores arkitektur er scalable.
- [x] Vær opmærksom på hvad det er vi vil kommunikere med diagramme

[2021-10-20 08:51] Kaliahh opened #24 "Beskriv arkitektur (i rapporten, med hjælp fra diagrammerne)"
#23 skal være lavet inden.

- [x] Beskriv de enkelte elementer der indgår i arkitekturen og hvordan de interagerer.
- [x] Beskriv og argumenter for hvorfor de enkelte elementer er der.

**What still needs to be argumented for**
- [x] More?

**Jakob is looking at and argumenting for**
- [x] Why ASP.NET for C#, other technologies for developing ReST API's
- [x] Choice of using HTTP and ReST for comm

[2021-10-20 10:37] #9 closed, assigned to MikaelVM

[2021-10-20 11:51] Kaliahh opened #31 "Figure out what should be scheduled. The Tasks themselves, each Batch, or each User who has uploaded a Batch?"
Moved Zaztz comment up in the description
"Beskrivelse af issues, er tabt under flytning af issues fra web klient til rapporten.
Beskrive issues: var beskrive hvad vores sheduling politik skulle tage højde for samt finde en der gav mening for batches.

Den kan findes ud design/scheduler.tex"

[2021-10-20 12:45] AxialDark opened #25 "Document the choice of database type and DBMS in the report"
The title says it all

[2021-10-21 08:16] AxialDark commented on #17
Alex review checklist
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section.
- [x] The section is written in such a way that a new reader,

[2021-10-21 08:19] dkalaxdk commented on #14
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section.
- [x] The section is written in such a way that a new reader, who has read the repor

[2021-10-21 08:25] zaztz commented on #12
Christian review checklist
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section.
- [x] The section is written in such a way that a new rea

[2021-10-21 08:32] Kaliahh opened #26 "Restructure Introduction such that the problem statement is backed up by the Related Work"
The problem statement at the end of the introduction is really an initial problem. The problem statement should appear in a section presenting what this project will contribute. The structure should therefore be:

- Introduction
  - Initial Problem
- Related Work
- Problems Suitable for Distribution
- This Project's Contribution
  - Problem Statement

This way, the problem statement in This Projec

[2021-10-21 08:39] dkalaxdk commented on #13
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section.
- [x] The section is written in such a way that a new reader, who has read the repor

[2021-10-21 08:45] dkalaxdk commented on #15
- [x] The section is relevant for the report.
      Har smidt en kommentar ang ovenstående.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section.
- [x] The section is written in such a

[2021-10-21 08:46] dkalaxdk commented on #12
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section.
- [x] The section is written in such a way that a new reader, who has read the repor

[2021-10-21 08:53] dkalaxdk commented on #16
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section.
- [x] The section is written in such a way that a new reader, who has read the repor

[2021-10-21 08:59] dkalaxdk commented on #8
Sat på pause indtil vi ved mere om den specifikke struktur, og hvor der kan være bottlenecks i implementeringen.

[2021-10-21 09:13] soenderby commented on #15
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section.
- [x] The section is written in such a way that a new reader, who has read the repor

[2021-10-21 09:29] soenderby commented on #18
Second Review

- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section.
- [x] The section is written in such a way that a new reader, who has

[2021-10-21 09:39] soenderby commented on #16
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section.
- [x] The section is written in such a way that a new reader, who has read the repor

[2021-10-21 12:27] Kaliahh opened #27 "This Project's Contribution"
**What should be written?**
This section should summarize the findings in Related Work and Problems Suitable for Distribution, and talk about the "hole" that we have found.

It should then present the problem statement / contribution for the project.

It should then either present the requirements or lead to the next chapter where the requirements are presented, depending on how long the list is.

[2021-10-22 12:41] AxialDark commented on #23
Drive folder with the architecture drawings can be found at this link [Archtecture Drawing Folder](https://drive.google.com/drive/folders/1Dz6NIRZNm5t1vAy9spT-D6cdnVbi9ic-?usp=sharing)

[2021-10-22 12:42] AxialDark commented on #23
Ready for review

[2021-10-23 14:46] dkalaxdk commented on #23
@zaztz
- [ ] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the  point. <br>
- [ ] There is a rød tråd. <br>
- [ ] There are no jarring jumps between paragraphs. <br>
- [ ] There is a good segue from the previous section. <br>
- [ ] The section is written in such a way that a new re

[2021-10-23 14:46] dkalaxdk commented on #23
@dkalaxdk <br>
- [ ] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue. <br>
- [ ] The section is reasonably concise and gets to the  point. <br>
- [ ] There is a rød tråd. <br>
- [ ] There are no jarring jumps between paragraphs. <br>
- [ ] There is a good segue from the previous section. <br>
- [ ] The section is written in such a way

[2021-10-23 14:47] dkalaxdk commented on #20
@naitoarekkus<br>
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue. <br>
- [x] The section is reasonably concise and gets to the  point. <br>
- [x] There is a rød tråd. <br>
- [x] There are no jarring jumps between paragraphs. <br>
- [x] There is a good segue from the previous section. <br>
- [x] The section is written in such a w

[2021-10-23 14:47] dkalaxdk commented on #20
@soenderby<br>

Reviewed twice

- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue. <br>
- [x] The section is reasonably concise and gets to the  point. <br>
- [x] There is a rød tråd. <br>
- [x] There are no jarring jumps between paragraphs. <br>
- [x] There is a good segue from the previous section. <br>
- [x] The section is writt

[2021-10-25 06:52] dkalaxdk commented on #21
@zaztz<br>
- [x] The section is relevant for the report. <br>
- [x] It communicates and covers the information required by the issue. <br>
- [x] The section is reasonably concise and gets to the  point. <br>
- [x] There is a rød tråd. <br>
- [x] There are no jarring jumps between paragraphs. <br>
- [x] There is a good segue from the previous section. <br>
- [x] The section is written in such a way

[2021-10-25 06:52] dkalaxdk commented on #21
@MikaelVM<br>
- [x] The section is relevant for the report. <br>
- [x] It communicates and covers the information required by the issue. <br>
- [x] The section is reasonably concise and gets to the  point. <br>
- [x] There is a rød tråd. <br>
- [x] There are no jarring jumps between paragraphs. <br>
- [x] There is a good segue from the previous section. <br>
- [x] The section is written in such a

[2021-10-25 09:44] AxialDark commented on #12
Afsnittet er blevet omskrevet for at være mere relevant for rapporten.
Derfor er der store ændringer i teksten.

[2021-10-25 12:25] dkalaxdk commented on #26
@naitoarekkus
 - [x] The section is relevant for the report.
 - [x] It communicates and covers the information required by the issue.
 - [x] The section is reasonably concise gets to the point.
 - [x] There is a rød tråd.
 - [ ] There are no jarring jumps between paragraphs.
 NOTE: Der er nogle grimme hop imellem de store afsnit (Introduction -> Related Work, Related Work -> Problems Suitable...),

[2021-10-25 12:25] dkalaxdk commented on #26
@dkalaxdk
 - [x] The section is relevant for the report.
 - [x] It communicates and covers the information required by the issue.
 - [x] The section is reasonably concise gets to the point.
 - [x] There is a rød tråd.
 - [ ] There are no jarring jumps between paragraphs.
 - [x] There is a good segue from the previous section.
 - [x] The section is written in such a way that a new reader, who has r

[2021-10-26 06:40] AxialDark commented on #14
Alex review checklist
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section.
- [x] The section is written in such a way that a new reader,

[2021-10-26 06:46] AxialDark commented on #14
Moving to "Done" as none of the reviewers have left any comments in the text and all positives are checked

[2021-10-26 08:31] AxialDark commented on #12
Kigget og rettet kommentare

[2021-10-27 09:07] MikaelVM opened #28 "Decide and argument for our implementation of the OAuth 2.0 authentication protocol. Use Google or implement one ourselves"
To insure security we are implementing a authentication and authorization system for ours users. It has been determined that this will be done using Bearer Authentication using the OAuth 2.0 standard

**Determine whether we should implement this OAuth 2.0 standard ourselves or use a third party like Google**
ASP.NET Identity have tools for implementing the OAuth 2.0 authentication protocols oursel

[2021-10-27 09:34] Kaliahh commented on #26
Tænker at det er fint med todos på at lave overgange.

Jeg har lige svaret på jeres kommentarer på præsentationen af resten af rapporten i introduktionen.

[2021-10-27 09:40] Kaliahh commented on #23
Reviewed by group

[2021-10-27 09:40] #23 closed, assigned to AxialDark, dkalaxdk, zaztz

[2021-10-27 09:40] #10 closed, assigned to AxialDark, dkalaxdk, soenderby

[2021-10-27 09:41] #14 closed, assigned to AxialDark, dkalaxdk, soenderby

[2021-10-27 09:41] #17 closed, assigned to AxialDark, soenderby, MikaelVM

[2021-10-27 09:41] #13 closed, assigned to AxialDark, dkalaxdk, zaztz

[2021-10-28 07:47] zaztz commented on #12
Reviewed igen.

[2021-10-28 08:41] dkalaxdk commented on #25
@zaztz
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd. \n
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read

[2021-10-28 08:45] dkalaxdk commented on #12
Reviewed, no comments added.

[2021-10-28 08:45] dkalaxdk commented on #25
@soenderby
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd. \n
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has r

[2021-11-01 07:22] AxialDark commented on #12
In Done

[2021-11-01 07:22] #12 closed, assigned to AxialDark, dkalaxdk, zaztz

[2021-11-01 07:22] AxialDark commented on #16
In Done

[2021-11-01 07:22] #16 closed, assigned to AxialDark, dkalaxdk, soenderby

[2021-11-01 13:34] #26 closed, assigned to AxialDark, dkalaxdk, Kaliahh

[2021-11-02 09:25] Kaliahh opened #30 "Design database schemas"
Tasks:
- [x] What data should we store?
- [x] ER diagrams
- [x] Argumentation! ;)
- [x] Does the schema conform to normal form?

[Link til reviewers](https://www.overleaf.com/project/6141b6c00d353feabf2b4259)

[2021-11-04 09:59] AxialDark commented on #24
Files to review:
- sections/design/architecture/architecture_design
- sections/design/architecture/architecture_scalability
- sections/design/architecture/architecture_framework
- sections/design/architecture/architechture_client_server_communication

Potentially also check the linked sections to ensure that the relevant information is provided in the linked sections

[2021-11-04 10:01] dkalaxdk commented on #24
@zaztz
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read the

[2021-11-04 10:02] AxialDark commented on #24
@Kaliahh
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read t

[2021-11-08 09:31] dkalaxdk commented on #30
@dkalaxdk
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
   There are jumps, but can't see a way of avoiding it.
- [x] There is a good segue from the previous section
- [x] The section i

[2021-11-08 09:31] dkalaxdk commented on #30
@MikaelVM
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read

[2021-11-08 09:33] AxialDark commented on #8
This should be indirectly part of the #24 and if that is resolved this should as well

[2021-11-08 10:07] Kaliahh commented on #18
Har omskrevet det. Fokus går væk fra e-learning og mere over på økonomi.

[2021-11-08 10:51] MikaelVM commented on #18
@MikaelVM<br>
- [x] The section is relevant for the report. <br>
- [x] It communicates and covers the information required by the issue. <br>
- [x] The section is reasonably concise and gets to the  point. <br>
- [x] There is a rød tråd. <br>
- [x] There are no jarring jumps between paragraphs. <br>
- [x] There is a good segue from the previous section. <br>
- [x] The section is written in such a

[2021-11-09 08:23] dkalaxdk commented on #24
Har kigget på P2P igen.

[2021-11-09 08:44] AxialDark commented on #24
Har igen kigget på:
- sections/design/architecture/architecture_design
- sections/design/architecture/architecture_scalability

[2021-11-09 09:22] soenderby commented on #24
Har kigget på client-server og framework igen.

[2021-11-09 09:25] AxialDark commented on #20
Is in done, will close

[2021-11-09 09:25] #20 closed, assigned to AxialDark, soenderby, MikaelVM

[2021-11-11 09:55] Kaliahh commented on #18
Der er nogle kommentarer jeg har svaret på eller lavet rettelser baseret på.

[2021-11-12 11:59] dkalaxdk commented on #24
Har læst P2P færdigt.

Virker til at være done.

[2021-11-12 12:23] #15 closed, assigned to AxialDark, dkalaxdk, soenderby

[2021-11-12 12:24] #21 closed, assigned to zaztz, Kaliahh, MikaelVM

[2021-11-12 12:26] #25 closed, assigned to dkalaxdk, soenderby, zaztz

[2021-11-12 12:48] dkalaxdk commented on #31
@naitoarekkus
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd. \n
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [ ] The section is written in such a way that a new reader, who ha

[2021-11-12 12:48] zaztz commented on #31
Beskrivelse af issues, er tabt under flytning af issues fra web klient til rapporten.
Beskrive issues: var beskrive hvad vores sheduling politik skulle tage højde for samt finde en der gav mening for batches.

Den kan findes ud design/scheduler.tex

[2021-11-12 12:48] dkalaxdk commented on #31
@Kaliahh
- [ ] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the point.
- [ ] There is a rød tråd. \n
- [ ] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [ ] The section is written in such a way that a new reader, who has rea

[2021-11-15 08:55] AxialDark commented on #24
No more comments and no more changes, task is done

[2021-11-15 08:55] #24 closed, assigned to AxialDark, dkalaxdk, soenderby, zaztz, Kaliahh

[2021-11-15 08:56] AxialDark commented on #8
Related task #24 is done, therefore this has also been moved to done

[2021-11-15 08:56] #8 closed, assigned to AxialDark

[2021-11-15 09:32] AxialDark commented on #30
File(s) for review at: "sections/design/database/ER.tex"

[2021-11-15 09:38] #18 closed, assigned to soenderby, Kaliahh, MikaelVM

[2021-11-15 10:24] AxialDark commented on #30
@dkalaxdk @MikaelVM
Because an error was found in the ER diagram (missing distinguisher for byzantine checking), there is also a pull request to be reviewed.
It can be found at: https://github.com/P7-Team/P7-WebService/pull/56

[2021-11-15 11:56] AxialDark commented on #30
Everything is good, moved to Done

[2021-11-15 11:56] #30 closed, assigned to AxialDark, dkalaxdk, MikaelVM

[2021-11-15 12:15] Kaliahh opened #32 "Restructure / re-write Scheduler section by following the directions written as comments in the file"
**What should be written?**
The content is there, but the language needs to conform to the rest of the report.

Related to #31

[2021-12-01 10:30] #5 closed, assigned to AxialDark, dkalaxdk

[2021-12-01 10:30] #6 closed, assigned to soenderby

[2021-12-01 10:30] #4 closed

[2021-12-01 10:53] Kaliahh opened #33 "Ret BOINC afsnittet til"
Fokus på:
- Hvad gør de, og hvorfor?
- Hvorfor løser de ikke vores problem?
- Hvilke ideer havde de der var gode, som vi tager med videre, og hvorfor?

[2021-12-01 10:54] Kaliahh opened #34 "Ret SheepIt afsnittet til"
Fokus på:
- Hvad gør de, og hvorfor?
- Hvorfor løser de ikke vores problem?
- Hvilke ideer havde de der var gode, som vi tager med videre, og hvorfor?

[2021-12-01 10:54] Kaliahh opened #35 "Ret Golem afsnittet til"
Fokus på:
- Hvad gør de, og hvorfor?
- Hvorfor løser de ikke vores problem?
- Hvilke ideer havde de der var gode, som vi tager med videre, og hvorfor?

[2021-12-01 10:55] MikaelVM opened #36 "Ret Golem afsnittet til"
Fokus på:
- Hvad gør de, og hvorfor?
- Hvorfor løser de ikke vores problem?
- Hvilke ideer havde de der var gode, som vi tager med videre, og hvorfor?

[2021-12-01 10:55] Kaliahh opened #37 "Ret Entropia afsnittet til"
Fokus på:
- Hvad gør de, og hvorfor?
- Hvorfor løser de ikke vores problem?
- Hvilke ideer havde de der var gode, som vi tager med videre, og hvorfor?

[2021-12-01 10:55] #36 closed

[2021-12-01 10:56] Kaliahh opened #38 "Summary på Existing Products and Services"
Hvad tager vi med fra de produkter vi har kigget på, og hvorfor?

Vi har også opdaget at alle eksisterende produkter og services giver adgang til mere power igennem distribuering. Det giver god mening, hvorfor?

Vi vil kigge på hvilke typer af opgaver der får gavn af distribuering.

[2021-12-01 10:57] Kaliahh opened #39 "Ret Distributed Training of Deep Neural Networks til"
Skal omskrives så det ligner Data Analysis afsnittet.

Hav fokus på:
- Hvad er det?
- Hvorfor fungerer det ikke på én maskine
- Hvorfor fungerer det bedre på flere maskiner?
- Hvad tager vi med fra vores undersøgelse af dette problem / Hvad har vi lært?

[2021-12-01 10:58] Kaliahh opened #40 "Ret Rendering til"
Skal omskrives så det ligner Data Analysis afsnittet.

Hav fokus på:
- Hvad er det?
- Hvorfor fungerer det ikke på én maskine
- Hvorfor fungerer det bedre på flere maskiner?
- Hvad tager vi med fra vores undersøgelse af dette problem / Hvad har vi lært?

[2021-12-01 10:58] MikaelVM opened #41 "Add subsection Map-Reduce under Scientific Research"
Overvej hvordan todo'en "Eventuelt skrive det om baseret på feedback fra vejleder" kan løses også.

Fokus på hvordan Map-Reduce bliver brugt indenfor videnskabelige artikler. Eventuelt kig på simulation af universet

[2021-12-01 10:59] Kaliahh opened #42 "Summary af Problems Suitable for Distribution"
Beskriv at vi har etableret behovet og interessen for at løse problemer distribueret.

Der er forskellige måder at håndtere distribueringen på: På nogle måder kan computerne snakke sammen, på andre er de isolerede og arbejder med det de fik som input.

Vi vælger dem der kører isoleret (Ikke får kontinuert input eller kommunikere med andre nodes), hvorfor?

[2021-12-01 11:01] Kaliahh opened #43 "This Project's Contribution"
Opsummering på eksisterende produkter + problemer der gavner af distribuering:
- Der findes ikke eksisterende produker / services der løser problemet.
- Distribuering er en god måde at få mere kraft på, men det afgrænser os fra opgaver der ikke kan parallelliseres. Den eneste løsning på at klare opgaver der ikke kan parallelliseres er også bare at købe en hurtigere computer, hvilket ikke er et int

[2021-12-01 11:51] Kaliahh opened #44 "Requirements - User Stories"
Hent dem ud fra Product Backloggen. Kun titler. Eventuelt ret titler til hvis de ikke er gode nok.

Prioriter i must have, should have, could have og nice to have.

En beskrivelse af de forskellige prioriteringer. Altså f.eks. hvorfor er dem der er prioriteret til must have prioriteret til must have? Hvad har vi når vi har opfyldt hver kategori?

Vores MVP er det der er i must have.

[2021-12-01 11:52] Kaliahh opened #45 "Requirements - Technical Requirements"
Vi skal have requirements inden for:
- Sikkerhed (login, docker)
- Performance (request håndtering) (scalability)
- Fault tolerance (replication, byzantine) (scalability)

Find gerne på flere selv.

Prioriter i must have, should have, could have og nice to have.

En beskrivelse af de forskellige prioriteringer. Altså f.eks. hvorfor er dem der er prioriteret til must have prioriteret til must have?

[2021-12-01 12:00] Kaliahh commented on #27
Replaced by #43

[2021-12-01 12:00] #27 closed, assigned to nobody

[2021-12-02 09:22] Kaliahh opened #46 "Ret Data Analysis til"
Det eneste der mangler er at sige noget om hvad vi tager med fra vores undersøgelse af problemet / Hvad vi har lært.

[2021-12-02 09:53] dkalaxdk commented on #33
@dkalaxdk
- [ ] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the point.
- [ ] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [ ] The section is written in such a way that a new reader, who has read

[2021-12-02 09:53] dkalaxdk commented on #33
@AxialDark
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
NOTE: Tænker at den kommer efter introduktionen til afsnittet er skrevet
-

[2021-12-02 09:54] dkalaxdk commented on #33
@Kaliahh
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section _Not relevant in my opinion_
- [x] The section is written in such a way that

[2021-12-02 10:14] dkalaxdk commented on #39
@zaztz
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read the

[2021-12-02 10:14] dkalaxdk commented on #39
@soenderby
- [ ] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the point.
- [ ] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [ ] The section is written in such a way that a new reader, who has read

[2021-12-02 10:14] dkalaxdk commented on #39
@AxialDark
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
NOTE: Tror det eneste der mangler er at der kommer en overordnet introduct

[2021-12-02 10:56] dkalaxdk commented on #37
@Kaliahh
- [ ] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the point.
- [ ] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [ ] The section is written in such a way that a new reader, who has read t

[2021-12-02 10:56] dkalaxdk commented on #37
@dkalaxdk
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read

[2021-12-03 08:50] dkalaxdk commented on #35
@MikaelVM
- [ ] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the point.
- [ ] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [ ] The section is written in such a way that a new reader, who has read

[2021-12-03 08:50] dkalaxdk commented on #35
@zaztz
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read the

[2021-12-03 09:44] dkalaxdk commented on #43
@AxialDark
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read

[2021-12-03 09:44] dkalaxdk commented on #43
@dkalaxdk
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read

[2021-12-03 09:45] soenderby commented on #43
First draft, jeg vil foreslå at fokusere hovedsagligt på struktur og indhold.

[2021-12-03 09:51] dkalaxdk commented on #46
@Kaliahh
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read t

[2021-12-03 09:51] dkalaxdk commented on #46
@soenderby
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read

[2021-12-03 12:46] dkalaxdk commented on #34
@dkalaxdk
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read

[2021-12-03 12:46] dkalaxdk commented on #34
@zaztz
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read the

[2021-12-03 12:47] dkalaxdk commented on #40
@soenderby
- [ ] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the point.
- [ ] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [ ] The section is written in such a way that a new reader, who has read

[2021-12-03 12:47] dkalaxdk commented on #40
@AxialDark
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
NOTE: Technically speaking the quesion "Hvorfor fungere det ikke på en maskine?" is not answered, but the question itself does not really make sense to me.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarrin

[2021-12-03 12:48] dkalaxdk commented on #40
@dkalaxdk
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read

[2021-12-03 13:08] dkalaxdk commented on #45
@AxialDark
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [ ] The section is written in such a way that a new reader, who has read

[2021-12-03 13:08] dkalaxdk commented on #45
@Kaliahh
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [ ] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [ ] The section is written in such a way that a new reader, who has read t

[2021-12-06 08:11] AxialDark opened #47 "Introduction - Development process"
**What should be written?**
What development process have we used?
Why have we choosen this process?
What changes have we made to better fit the project

[2021-12-06 08:18] dkalaxdk commented on #46
@dkalaxdk
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read

[2021-12-06 08:22] Kaliahh commented on #35
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd. **_Dette kunne måske afhjælpes med nogle overskrifter_**
- [x] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section _Not relevant in my opinion_

[2021-12-06 09:32] AxialDark commented on #37
All is good

[2021-12-06 09:32] #37 closed, assigned to AxialDark, dkalaxdk, Kaliahh

[2021-12-06 10:01] AxialDark commented on #39
Looks good

[2021-12-06 13:08] AxialDark commented on #47
Review at: sections/introduction/process

[2021-12-06 13:16] dkalaxdk commented on #47
@zaztz
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the point.
- Synes der er en mangle på beskrivelse af vores review processer samt at vi valget at bruge userstorys
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [ ] There is a good segue

[2021-12-06 13:16] dkalaxdk commented on #47
@AxialDark
- [ ] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the point.
- [ ] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [ ] The section is written in such a way that a new reader, who has read

[2021-12-06 13:17] dkalaxdk commented on #47
@dkalaxdk
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read

[2021-12-06 13:25] AxialDark commented on #44
@AxialDark
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
NOTE: Skal ikke kunne sige, introduktionen til afsnittet er ikke skrevet e

[2021-12-07 07:32] Kaliahh commented on #44
@soenderby
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read

[2021-12-07 08:22] #40 closed, assigned to AxialDark, dkalaxdk, soenderby

[2021-12-07 08:35] zaztz commented on #39
Det ser fint ud

[2021-12-07 08:46] #39 closed, assigned to AxialDark, dkalaxdk, zaztz

[2021-12-07 09:04] AxialDark commented on #34
Fixed

[2021-12-07 09:04] #34 closed, assigned to AxialDark, dkalaxdk, zaztz

[2021-12-07 09:31] AxialDark commented on #42
Review of files: "sections/introduction/Relatedwork/summary"

[2021-12-07 09:31] AxialDark commented on #42
Dette er en første udgave

[2021-12-07 09:33] #33 closed, assigned to AxialDark, dkalaxdk, Kaliahh

[2021-12-07 09:57] soenderby commented on #42
Approve

[2021-12-07 10:06] #44 closed, assigned to AxialDark, soenderby, Kaliahh

[2021-12-07 10:13] soenderby commented on #38
approve

[2021-12-07 10:16] #43 closed, assigned to AxialDark, dkalaxdk, soenderby, Kaliahh

[2021-12-07 10:25] #35 closed, assigned to dkalaxdk, zaztz, Kaliahh

[2021-12-07 10:38] AxialDark commented on #42
Fixed

[2021-12-07 10:38] #42 closed, assigned to AxialDark, dkalaxdk, soenderby

[2021-12-07 10:47] AxialDark commented on #47
Fixed

[2021-12-07 10:47] #47 closed, assigned to AxialDark, dkalaxdk, zaztz

[2021-12-07 10:58] AxialDark commented on #46
Fixed

[2021-12-07 10:58] #46 closed, assigned to AxialDark, dkalaxdk, Kaliahh

[2021-12-07 11:00] zaztz commented on #38
approve

[2021-12-07 11:26] #38 closed, assigned to soenderby, zaztz, Kaliahh

[2021-12-07 12:28] Kaliahh opened #48 "UI Design"
**What should be written?**

Describe the UI, how and why it is designed the way it is.

[2021-12-07 12:30] Kaliahh opened #49 "Go through design section and fix comments from Thomas"
Create an issue for the section that you have fixed comments in, add to list below:

**Issue list:**
- [ ] _Issue for comment fixing_

[2021-12-07 12:32] Kaliahh opened #50 "Go through Design chapter, and make sure it relates to the requirements"
Each section should relate to one or more requirement. It should be desribed how they fulfill the requirement

[2021-12-07 12:32] Kaliahh opened #51 "Convert report TODO's to issue, if they are big enough"
Do as the title says.

You could also group TODO's to make the issue bigger

[2021-12-07 12:35] Kaliahh opened #52 "We need to talk about quality of service, and how we do it, somewhere."
We might just have to say that we use Digital Ocean, and use their stuff, at least for availability

[2021-12-07 12:37] Kaliahh opened #53 "Define the narrative flow of the Implementation chapter"
Make section, write notes to guide the writer.

Make issues for the sections

Do this with someone

**Derived Issues:**
- [x] #67
- [x] #62
- [x] #63
- [x] #64
- [x] #65
- [ ] #66

[2021-12-07 12:38] Kaliahh opened #54 "Write about usability testing methods"
Do as the title says

[2021-12-07 12:40] Kaliahh opened #55 "System Testing (API Test)"
Do them, then write about them.

For each endpoint, setup a test that demostrates you can get the desired result from the endpoint. (Kinda like integration testing)

[2021-12-07 12:41] Kaliahh opened #56 "Unit Tests"
What were the consequences of us unit testing our code? What did we do to support it? (Mocking, loose coupling, making testable classes)

[2021-12-07 12:42] Kaliahh opened #57 "Define the narrative flow of the Discussion chapter"
Make section, write notes to guide the writer.

Make issues for the sections

Do this with someone

Issues created:

- [x] #75
- [x] #76
- [x] #77

[2021-12-07 12:43] Kaliahh opened #58 "Define the narrative flow of the Conclusion chapter, and write it"
Write the conclusion.

[2021-12-07 12:45] Kaliahh opened #59 "Define the narrative flow of the Future Work chapter, and write it"
Write the future work.

[2021-12-07 12:52] Kaliahh opened #60 "Process"
Write about the process in each of the following sections:

- [x] Introduction
- [x] Implementation (TDD)
- [x] Evaluation (Usability testing) (Impossible, as we have not done them)
- [x] Our Process
  - [x] Opsummering, andre tanker?
  - [x] Kig på vores review og retrospective dokumenter, tag ting med fra det.
  - [x] Hvordan brugte vi Scrum?
  - [x] Hvordan gik det med vores sprints?
  - [x] Hv

[2021-12-08 07:25] zaztz commented on #31
Starter omskrivning af det

[2021-12-08 07:52] soenderby opened #61 "Adapt client-server communication in design section"
Change the choice from ReST to HTTP
Mention alternatives such as ReST, GraphQL and RPC and why we do not use them
Present the arguments for why we use HTTP

[2021-12-08 09:22] AxialDark opened #62 "Describe core functionality of the web service implementation"
This section should describe the implementation of the core functionality of the web service.
The core functionalities are the "scheduler" implementation and the "automater" class which drives it.

This section should include a interface UML diagram which shows how the different interfaces "calls" or "interacts" with each other.
It should be kept at an interface level to make the diagram more mana

[2021-12-08 09:22] AxialDark commented on #53
Narative reviewed by the group, seems ok

[2021-12-08 09:26] AxialDark opened #63 "Describe Storage and Information Retrieval implementation of the web service implementation"
This section should continue from #62 which should have ended with the linking interfaces diagram to technical requirements.

This section should then start discussing the implementation of how the web service communicate with extern data storage, in our case this is how do we communicate with the database and the file system.
This should start by explaining how information is retrieved from exter

[2021-12-08 09:41] AxialDark opened #64 "Describe how communication is handled/implemented in the web service"
This section follows #63 , which should end by describing how data is stored on the web service.

This section should then explain the use of the ASP.NET framework to handle communication to and from the web service.
This is through the definition of controllers (and how ASP.NET maps the controller methods to endpoints) and how the information from requests are mapped to C# objects using ASP.NET a

[2021-12-08 09:50] AxialDark opened #65 "Describe how the communication from the client to the web service is presented to the user (UI)"
This section follows #64 which ends by descriping how communication is received on the web service using the ASP.NET framework.

This section should communicate how the users communicate with the web service using the UI.
This should then lead into the use of the Model View View Model design pattern (MVVM) in implementing the UI and explain why the implemented UI does not look like the described d

[2021-12-08 09:55] AxialDark opened #66 "Describe the consequences of decisions made during implementation"
This section follows from issue #65 describing the implementation of the UI.

This is meant as a kind of conclusion of the implementation chapter.
Therefore, it should describe the (interesting) consequences of some of the implementation that we have made.
This can both be good and bad consequences.

[2021-12-08 10:00] AxialDark commented on #53
Reviewers of this task should check the description of the derived tasks to make sure that they are descriptive enough

[2021-12-08 10:08] AxialDark opened #67 "Write the introduction to the implementation chapter"
The introduction for the implementation section should be written.

This should present what will be described in the implementation chapter (check the derived task list in #53 )
It should mention that the implementation is based on the "Web Application Component Diagram" from the design chapter, with a reference.

[2021-12-09 07:24] Kaliahh opened #68 "Write Abstract"
Write the abstract

[2021-12-09 08:10] AxialDark commented on #60
Files to review list:
- sections/introduction/process_introduction
- sections/implementation/process_tdd
- sections/discussion/process

[2021-12-09 12:54] AxialDark commented on #60
@soenderby

- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has rea

[2021-12-09 12:54] AxialDark commented on #60
Ane
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read the re

[2021-12-09 12:55] AxialDark commented on #53
It looks ok

[2021-12-09 12:55] #53 closed, assigned to AxialDark, soenderby

[2021-12-09 12:55] #45 closed, assigned to AxialDark, dkalaxdk, Kaliahh

[2021-12-09 12:56] AxialDark commented on #61
AxialDark
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read

[2021-12-09 12:56] AxialDark commented on #61
Ane
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read the re

[2021-12-09 13:19] AxialDark commented on #56
AxialDark
- [ ] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read

[2021-12-09 13:19] AxialDark commented on #56
- [ ] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the point.
- [ ] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [ ] The section is written in such a way that a new reader, who has read the report

[2021-12-09 13:35] AxialDark commented on #54
@soenderby
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read

[2021-12-09 13:35] AxialDark commented on #54
@dkalaxdk
- [ ] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the point.
- [ ] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [ ] The section is written in such a way that a new reader, who has read

[2021-12-10 07:42] #56 closed, assigned to AxialDark, dkalaxdk, Kaliahh

[2021-12-10 08:42] dkalaxdk opened #69 "Lav Abstract"

[2021-12-10 08:46] dkalaxdk opened #70 "Introductions"
Potentially convert these to separate issues when they are made to make it easier to review, unless one person does em all.
- [x] Existing products and services (Der står allerede noget, omskriv gerne) - Mikael👨‍💻
- [x] Problems Suitable for Distribution (Der står allerede noget, omskriv gerne) - Alex 🥴
- [x] Design (Der står allerede noget, omskriv gerne) - Mikael👨‍💻
- [x] Implementation (Se på #

[2021-12-10 08:50] dkalaxdk opened #71 "Make better problem statement."
Tidliger todo hed: Overvej bedre problem statement.

[2021-12-10 08:55] dkalaxdk opened #72 "Update Architecture scalability"
- [x] Define our definition of scalability in "Architecture Scalability"
Alex har lavet en kommentar, giv den et kig.
Linje 12 da denne issue blev lavet.

- [x] Fix reference to DSOA as it does not exists, potentially re-write to get around this ref.

[2021-12-10 09:00] dkalaxdk opened #73 "Make Preface"

[2021-12-10 09:05] dkalaxdk opened #74 "Læs "Database" afsnittet igennem, og fiks/ret kommentare."

[2021-12-10 09:06] #54 closed, assigned to dkalaxdk, soenderby, Kaliahh

[2021-12-10 09:16] #51 closed, assigned to dkalaxdk

[2021-12-10 09:44] soenderby commented on #64
@soenderby

- [x] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue.
      NOTE: Model binding ved brug af [FromBody] og [FromForm] osv. er ikke beskrevet
- [ ] The section is reasonably concise and gets to the point.
- [ ] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the prev

[2021-12-10 12:22] zaztz commented on #55
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd. \n
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read the rep

[2021-12-10 12:25] zaztz commented on #64
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd. \n
- [x] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read the rep

[2021-12-10 13:05] Kaliahh opened #75 "Discuss Implementation"
Filen er sections/discussion/implementation

- [x] Dan dig et overblik over hvad der skal diskuteres.
- [x] Skriv det ;)

Der er noter i selve filen. De er muligvis ikke dækkende.

[2021-12-10 13:07] Kaliahh opened #76 "Discuss Requirements Fulfillment"
This section should present which requirements have been fulfill and which have not (and why)

[2021-12-10 13:10] Kaliahh opened #77 "Discuss Design"
Diskuter designet så godt som vi nu kan. Vi har ikke lavet design criteria, og kan derfor ikke sige om designet er godt. Vi har lavet en analayse på quality of service (#52), måske vi kan sige noget ud fra det?

#52 Skal derfor også være færdig først

[2021-12-10 13:51] Kaliahh commented on #57
Created the issues

[2021-12-10 13:51] #57 closed, assigned to Kaliahh

[2021-12-10 14:56] AxialDark commented on #52
Review file: "sections/evaluation/quality_of_service"

[2021-12-10 14:57] AxialDark commented on #52
@dkalaxdk

- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [ ] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read

[2021-12-10 14:57] AxialDark commented on #52
Ane

- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section _Ikke relevant efter min mening_
- [x] The section is written in such a way that

[2021-12-12 14:13] soenderby commented on #75
Pointerne i afsnittet er at vi opdelte udviklingen for at kunne udnytte alle udviklere, men fordi vi ikke havde en fælles forståelse resulterede det i at komponenterne alligvel skulle ændres når vi satte dem sammen.
TDD var godt, da det gav os regression tests til disse ændringer, men testene skulle også veligeholdes når der blev foretaget ændringer.

Konklusionen er mere eller mindre at skyde sky

[2021-12-12 20:23] Kaliahh commented on #75
Ane
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read the re

[2021-12-13 07:50] zaztz commented on #76
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd. \n
- [x] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [ ] The section is written in such a way that a new reader, who has read the rep

[2021-12-13 08:21] AxialDark commented on #75
@AxialDark
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
NOTE: Vil tro at det kan klares med sen subsection header. Er kommet med nogle foreslag (siger ikke at de er gode)
- [x] There i

[2021-12-13 08:27] MikaelVM commented on #76
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd. \n
- [x] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read the rep

[2021-12-13 08:55] AxialDark commented on #62
@AxialDark
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read

[2021-12-13 08:56] zaztz commented on #62
- [ ] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the point.
- [ ] There is a rød tråd. \n
- [ ] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [ ] The section is written in such a way that a new reader, who has read the rep

[2021-12-13 08:57] zaztz commented on #62
- [x] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd. \n
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read the rep

[2021-12-13 10:44] AxialDark commented on #52
Reviews fixed, done

[2021-12-13 10:44] #52 closed, assigned to AxialDark, dkalaxdk, Kaliahh

[2021-12-13 11:45] MikaelVM commented on #64
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
      NOTE: Model binding ved brug af [FromBody] og [FromForm] osv. er ikke beskrevet
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section

[2021-12-13 12:11] Kaliahh commented on #41
Ane
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read the re

[2021-12-13 13:08] AxialDark commented on #41
@AxialDark
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read

[2021-12-13 17:06] AxialDark commented on #77
@AxialDark
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read

[2021-12-13 17:06] AxialDark commented on #77
@dkalaxdk
- [ ] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the point.
- [ ] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [ ] The section is written in such a way that a new reader, who has read

[2021-12-13 17:09] AxialDark commented on #58
Ane
- [x] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the point.
- [ ] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read the re

[2021-12-14 09:02] #67 closed, assigned to dkalaxdk, Kaliahh, MikaelVM

[2021-12-14 09:03] #76 closed, assigned to zaztz, Kaliahh, MikaelVM

[2021-12-14 09:25] #77 closed, assigned to dkalaxdk, Kaliahh, MikaelVM

[2021-12-14 09:52] AxialDark commented on #60
Yeeeeeassssssh!

[2021-12-14 09:52] #60 closed, assigned to AxialDark, dkalaxdk, soenderby, Kaliahh

[2021-12-14 10:02] #75 closed, assigned to AxialDark, soenderby, Kaliahh, MikaelVM

[2021-12-14 10:06] #28 closed, assigned to nobody

[2021-12-14 10:48] soenderby commented on #19
@soenderby

- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has rea

[2021-12-14 11:31] #61 closed, assigned to AxialDark, soenderby, Kaliahh

[2021-12-14 11:50] zaztz commented on #59
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd. \n
- [x] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read the rep

[2021-12-14 12:01] soenderby commented on #59
@soenderby

- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [x] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has rea

[2021-12-14 12:09] AxialDark commented on #31
@AxialDark
- [x] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue.
NOTE: Jeg har lavet nogle rettelser for at gøre min egen forståelse bedre, men der er nogle stedet hvor jeg ikke er sikker på hvad der menes. Jeg har sat kommentare for at fremhæve dem.
- [ ] The section is reasonably concise and gets to the point.
- [ ] There is a rød t

[2021-12-15 11:15] #41 closed, assigned to AxialDark, Kaliahh, MikaelVM

[2021-12-15 12:03] AxialDark commented on #72
@zaztz
- [x] The section is relevant for the report.
- [x] It communicates and covers the information required by the issue.
- [x] The section is reasonably concise and gets to the point.
- [x] There is a rød tråd.
- [x] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [x] The section is written in such a way that a new reader, who has read the

[2021-12-15 12:03] AxialDark commented on #72
@Second
- [ ] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the point.
- [ ] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [ ] The section is written in such a way that a new reader, who has read th

[2021-12-15 12:05] AxialDark commented on #72
rettelser er lavet i: "sections/design/architecture/architecture_scalability"
Under afsnit:
- Scalability of SOA
- Scalability of Microservices
- Architecture Scalability (definition af scalability

[2021-12-15 12:26] #63 closed, assigned to AxialDark, soenderby, Kaliahh

[2021-12-15 14:43] #64 closed, assigned to dkalaxdk, soenderby, zaztz, MikaelVM

[2021-12-15 14:58] #62 closed, assigned to AxialDark, dkalaxdk, zaztz

[2021-12-16 08:52] dkalaxdk commented on #50
Updated stuff in:
 - Scheduler
 - File System
 - Database
 - Security

Kunne ikke finde ud af om det var relevant i:
- Architecture
- Using HTTP for Client-Server Communication

[2021-12-16 08:56] AxialDark commented on #50
@AxialDark
- [ ] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the point.
- [ ] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [ ] The section is written in such a way that a new reader, who has read

[2021-12-16 09:03] Kaliahh commented on #50
- [x] Scheduler
 - [x] File System
 - [x] Database
 - [x] Security

[2021-12-16 09:15] AxialDark commented on #50
- [x] Scheduler
 - [x] File System
 - [x] Database
 - [x] Security

[2021-12-16 09:30] soenderby commented on #48
Det er et langt afsnit, og jeg tror det går mre i detaljer end er nødvendigt.
Jeg foreslår af nogle af gennemgangene af workflows kortes ned ved at lave en liste som gjort i Requesting. Derefter kan en overordnet forklaring af flowet samt prototyper vises, og til sidste kan relevante detaljer (såsom hvornår knapper bliver grå) påpeges og diskuteres

[2021-12-16 09:47] #50 closed, assigned to AxialDark, dkalaxdk, Kaliahh

[2021-12-16 12:07] AxialDark commented on #72
Fixed

[2021-12-16 12:07] #72 closed, assigned to AxialDark, zaztz, Kaliahh

[2021-12-16 12:09] #74 closed, assigned to dkalaxdk, Kaliahh, MikaelVM

[2021-12-17 06:59] #48 closed, assigned to dkalaxdk, soenderby, Kaliahh

[2021-12-17 09:51] Kaliahh opened #78 "Omstrukturer Database afsnittet"
Beskriv data udledt fra vores requirements (De siger vi skal have batches, tasks, osv. Hvilken data kan vi udlede af dem? Hvad kan vi også udlede som ikke står der eksplicit? F.eks. filer til at gemme ting).

Diskuter om vi skal bruge NoSQL eller relationel ud fra dataen.

Vi skal vælge en DBMS, den skal kunne distribueres og have replikation. Vi vælger MySQL.

Design strukturen af databasen (ER d

[2021-12-17 11:35] Kaliahh opened #79 "Afsnit i evalueringen om hvordan vi testede sammenhængen mellem klient og web service"
Forklar også at vi kan provide og requeste på samme tid

[2021-12-19 07:24] #49 closed, assigned to nobody

[2021-12-19 09:32] dkalaxdk commented on #78
Har været igennem den del jeg skrev.

[2021-12-19 10:45] soenderby commented on #65
@soenderby

- [x] The section is relevant for the report.
- [ ] It communicates and covers the information required by the issue.
- [ ] The section is reasonably concise and gets to the point.
       NOTE: Det er kortfattet, men pointen mangler
- [ ] There is a rød tråd.
- [ ] There are no jarring jumps between paragraphs.
- [ ] There is a good segue from the previous section
- [x] The section is

[2021-12-19 12:06] AxialDark commented on #78
Har været igennem den del som jeg skrev

[2021-12-19 14:09] dkalaxdk commented on #78
Did a read again.

[2021-12-19 14:25] #59 closed, assigned to dkalaxdk, soenderby, zaztz

[2021-12-19 14:27] #19 closed, assigned to dkalaxdk, soenderby, zaztz

[2021-12-19 14:27] AxialDark commented on #78
Har været igennem igen

[2021-12-19 15:14] Kaliahh opened #80 "Quality of Service (igen)"
Der er lavet en definition i requirements.

Den er blevet evalueret på i evaluation.

Den bliver ikke længere diskuteret da der ikke var mere at sige om det. Kom gerne med andre forslag

[2021-12-20 07:42] #78 closed, assigned to AxialDark, dkalaxdk, soenderby, Kaliahh

[2021-12-20 12:51] #70 closed, assigned to AxialDark, MikaelVM

[2021-12-20 12:51] #80 closed, assigned to Kaliahh

[2021-12-20 12:53] #65 closed, assigned to soenderby, Kaliahh

[2021-12-21 07:19] #55 closed, assigned to dkalaxdk, soenderby, Kaliahh